.each-tab {
  padding: 0px 5px;
  margin: 0px;
}

.each-tab button {
  background-color: transparent;
  border: none;
  padding: 0px 0px 15px 0px;
  cursor: pointer;
}

.active-tab-text {
  text-decoration: underline;
  color: #fec653;
}
